{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Consulta Aprobación    
{% endblock titulo %}

{% block cuerpo %}

    <h1 style="text-align:center">Aprobación Promedio por Género </h1>
    <h3> Colegio: {{nombre}}</h2>
    <table class="stack">
        <thead>
            <tr>
                <th width="200">Año</th>
                <th width="200">Comuna</th>
                <th width="200">Aprobación Promedio Hombres</th>
                <th width="200">Aprobación Promedio Mujeres</th>
            </tr>
        </thead>
        
    <tbody>
        {% for rendimiento in rendimientos %}
            <tr>
                <td>{{rendimiento.id}}</td>
                <td>{{rendimiento.comuna.nombre}}</td>
                <td>{{rendimiento.aprhom}} </td>
                <td>{{rendimiento.aprmuj}} </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>

{% endblock cuerpo %}