{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Aprobación General    
{% endblock titulo %}

{% block cuerpo %}

    <h1 style="text-align:center">Aprobación Detallada por Año  </h1>
    <h3>Colegio: {{ nombre }} </h3>
    <h3>Tipo de enseñanza: {{ tipo }}</h3>
    <h3>Curso: {{nivel}}</h3>
    {% for rendimiento in rendimientos %}
        <div class="card" style="width: 300px;">
            <div class="card-divider">
            <h4>{{rendimiento.agno}}</h4>
            </div>
            <div class="card-section">
            <p>Aprobación Hombres: {{rendimiento.apr_hom}}</p>
            <p>Aprobación Mujeres: {{rendimiento.apr_muj}}</p>
            </div>
        </div>
    {% endfor %}

{% endblock cuerpo %}


